<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>脚本执行</title>
    <script src="/static/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        //按钮禁用
        $(function(){
				var stop = "false"
				$("#stop_task").attr("disabled",stop);
                $("#start_task").click(function(){
	                $("#start_task").attr("disabled",true);
	                $("#stop_task").attr("disabled",false);
                })
                $("#stop_task").click(function(){
	                 $("#start_task").attr("disabled",false);
	               $("#stop_task").attr("disabled",true);
                })
            })

    $(function () {
        $('#start_task').click(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/echo_once/");
            console.log(socket);
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                socket.send($('#start_task').val());//发送数据到服务端
            };
            socket.onmessage = function (e) {
                //console.log(e);//打印服务端返回的数据
                console.log(e.onerror)
                //$('#messagecontainer').prepend('<p><pre>' + e.data + '</pre></p>');
                //$('#messagecontainer').prepend('<hr />');
                {#$('#messagecontainer').append(e.data+'<br/>');#}
                {#$('#messagecontainer').prepend('<hr />');#}
                {#滚动条始终最下边#}
                $('#messagecontainer').append(e.data+'\n');
                $("#messagecontainer").scrollTop($("#messagecontainer")[0].scrollHeight);

            };
            socket.onclose = function (event) {
                console.log(event)
                $("#start_task").attr("disabled",false);
                $("#stop_task").attr("disabled",true);

            }
        });
        //暂停执行
        $('#stop_task').click(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/echo_once/");
            console.log(socket);
            socket.onopen = function () {
                console.log('停止执行！');//成功连接上Websocket
                socket.send($('#stop_task').val());//发送数据到服务端
            };
        });

    });
    </script>
</head>
<body>
{#<br>#}
<button  style="margin: 20px;height: 40px;background-color: #00ff00;" type="button" id="start_task" value="start_task">
    执行Shell脚本
</button>
<button style="margin: 20px;height: 40px;background-color: #00ff00;" type="button" id="stop_task" value="stop_task">
    停止Shell脚本
</button>
{{ List|safe }}
<h3 style="margin: 20px;">脚本执行结果:</h3>
<textarea id="messagecontainer" name="textarea" style="margin: 20px;width:800px;height:200px;border: 1px solid cadetblue" readonly="readonly">
</textarea>

{#<div id="messagecontainer" name="textarea" style="margin: 20px;width:800px;height:200px;border: 1px solid cadetblue" readonly="readonly">#}
{#</div>#}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

</body>
</html>